<!DOCTYPE html>
<html>
<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://archive-media-1.nyafuu.org/wg/image/1458/91/1458910657748.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
</style>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
	<div class="w3-display-topmiddle">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/About">About</a></li>
				<li><a href="/CV">CV</a></li>
				<li><a href="/Blog">Blog</a></li>
			</ul>
		</nav>
	</div>


	{{content}}
	
	<div class="w3-display-bottomleft w3-padding-large">
	    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
	</div>
	<footer class="w3-display-bottommiddle">
		<ul>
			<li><a href="mailto:kyixuan@gmail.com">email</a></li>
			<li><a href="https://github.com/yix90">github.com/yix90</a></li>
		</ul>
	</footer>
</div>
</body>
</html>
