<!DOCTYPE html>
<html>
<title>{{ page.title }}</title>
<meta charset="UTF-8">
<style>
nav ul li {
    display: inline;
}

footer ul li {
    display: inline;
    margin-bottom: 100px;
}
</style>
<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/CV">CV</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>


	{{content}}
	<footer>
		<ul>
			<li><a href="mailto:kyixuan@gmail.com">email</a></li>
			<li><a href="https://github.com/yix90">github.com/yix90</a></li>
		</ul>
	</footer>
</body>
</html>
